{% extends 'app/dummy.html' %}

{% block title %}
    <title>Create Page</title>
{% endblock %}

{% block body_block  %}

{% if form.instance.pk %}
    <h1>Fill The Update Form</h1>
{% else %}

    <h1>Fill The Create Form</h1>
{% endif %}

<form method="POST">
    {% csrf_token %}

        {{form.as_p}}

{% if form.instance.pk %}
    <input type="submit" value="Update" class="btn btn-secondary">
{% else %}
    <input type="submit" value="Create" class="btn btn-success">

{% endif %}
</form>
{% endblock %}



